{% extends 'base.html' %}

{% load staticfiles %}

{% block body_type_block %}
<body id="page_tasks">
{% endblock %}

{% block body_block %}
 <!--content -->
  <section id="content">
  <div class="wrapper pad1">
      <article class="col1">
        <div class="box1">          
          <h2>Фильтр</h2>
          <div class="pad"> <strong>
          <form id="themes" method="post" action="{% url 'themes' %}">
          	{% csrf_token %}          	
          	{{ form }}
          	<input type="submit" name="submit" value="Применить" />
          </form>
          </strong><br>
		  </div>		  
        </div>
      </article>
      <article class="col2">
        <div class="wrapper">
         <div class="pagination">
		    <span class="step-links">
		        {% if themes.has_previous %}
		            <a href="?page={{ themes.previous_page_number }}">предыдущая</a>
		        {% endif %}
		
		        <span class="current">
		            Страница {{ themes.number }} из {{ themes.paginator.num_pages }}.
		        </span>
		
		        {% if themes.has_next %}
		            <a href="?page={{ themes.next_page_number }}">следующая</a>
		        {% endif %}
		    </span>
		</div>
		{% if themes %}
            <table>
                {% for theme in themes %}
                	<tr>         	
                	<td width=50px><button class="theme_item" data-catid="{{ theme.number }}" type="button">{{ theme.number }}</button></td>
                	<td width=250px>{{ theme.name }}</td>
                	<td width=150px>{{ theme.specification }}</td>
                	<td width=70px>{{ theme.status }}</td>
                	</tr>
                {% endfor %}
            </table>   
        {% else %}
            <strong>Темы в базе данных отсутсвуют!</strong>
        {% endif %}
        </div>
       </article>
    </div>
  </section>
  <!--content end-->
{% endblock %}
