{% extends 'base.html' %}

{% load staticfiles %}

{% block body_type_block %}
<body id="page_tasks">
{% endblock %}

{% block body_block %}
 <!--content -->
  <section id="content">
  <div class="wrapper pad1">
      <article class="col1">
        <div class="box1">          
          <h2>Фильтр</h2>
          <div class="pad"> <strong>Поле ввода</strong><br>
{#            <ul class="pad_bot2 list1">#}
{#              <li class="pad_bot1"> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#            </ul>#}
		  </div>
		  <h2>Сортировка</h2>
          <div class="pad"> <strong><a href="{% url 'themes_order_number' %}">По номеру</a></strong></div>
          <div class="pad"> <strong><a href="{% url 'themes_order_name' %}">По названию</a></strong></div>
        </div>
      </article>
      <article class="col2">
        <div class="wrapper">
          {% if themes_list %}
            <table>
                {% for themes in themes_list %}
                <tr class='tr_1'>
                <td>{{ themes.number }}</td>
                <td>{{ themes.name }}</td>
                <td>{{ themes.specification }}</td>
                <td>{{ themes.status }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>Темы в базе данных отсутсвуют!</strong>
        {% endif %}
        </div>
       </article>
    </div>
  </section>
  <!--content end-->
{% endblock %}
