{% extends 'base.html' %}

{% load staticfiles %}

{% block body_type_block %}
<body id="page_tasks">
{% endblock %}

{% block body_block %}
 <!--content -->
  <section id="content">
  <div class="wrapper pad1">
      <article class="col1">
        <div class="box1">
          <h2 class="top">Действия</h2>
          <div class="pad"> <strong>Задание №ХХХХХ</strong><br>
{#            <ul class="pad_bot1 list1">#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#            </ul>#}
            <strong>Задание №ХХХХХ</strong><br>
{#            <ul class="pad_bot1 list1">#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#            </ul>#}
            <strong>Задание №ХХХХХ</strong><br>
{#            <ul class="pad_bot2 list1">#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#            </ul>#}
          </div>
          <h2>Фильтры</h2>
          <div class="pad"> <strong>Задание №ХХХХХ</strong><br>
{#            <ul class="pad_bot2 list1">#}
{#              <li class="pad_bot1"> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>#}
{#            </ul>#}
          </div>
        </div>
      </article>
      <article class="col2">
        <h3>Проблемные вопросы<span>Актуальные по действующим заданиям</span></h3>
        <div class="wrapper">
          <article class="cols">
            <figure><img src="images/page1_img1.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>Airlines is one of free website templates created by TemplateMonster.com team.</strong></p>
            <p>This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid. This website template has several pages: <a href="index.html">About</a>, <a href="offers.html">Offers</a>, <a href="book.html">Book</a>, <a href="services.html">Services</a>, <a href="safety.html">Safety</a>, <a href="contacts.html">Contacts</a>.</p>
          </article>
          <article class="cols pad_left1">
            <figure><img src="images/page1_img2.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>This Airlines Template goes with two packages.</strong></p>
            <p>With PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source files) is available for anyone without registration).</p>
          </article>
        </div>
        <a href="#" class="button1"><strong>Read More</strong></a> </article>
    </div>
  </section>
  <!--content end-->
{% endblock %}
