{% extends 'base.html' %}

{% load staticfiles %}

{% block body_type_block %}
<body id="page_tasks">
{% endblock %}

{% block body_block %}
<!--content -->
<section id="content">
<div class="wrapper pad1">
      <article class="col1">
        <div class="box1">          
          	{% if list_all_tree %}
				{% autoescape off %}
				{{ list_all_tree }}
				{% endautoescape %}
			{% else %}
				<strong>Узлы в базе данных отсутсвуют!</strong>
			{% endif %}		  
        </div>
      </article>
      <article class="col2">
        <div class="wrapper">
        	<strong id="current_level"></strong><br>
        		
        	<button class="edit_node" todo="add_love"><img src="{% static "images/tree_button_add_love.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="add_node"><img src="{% static "images/tree_button_add.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="del_node"><img src="{% static "images/tree_button_delete.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="level_up"><img src="{% static "images/tree_button_level_up.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="level_down"><img src="{% static "images/tree_button_level_down.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="edit_node"><img src="{% static "images/tree_document-pen.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="key_up"><img src="{% static "images/tree_key_up.png" %}" height=25 width=25></img></button>
        	<button class="edit_node" todo="key_down"><img src="{% static "images/tree_key_down.png" %}" height=25 width=25></img></button>
        	<br>
			<strong id="node_context"></strong>	
        </div>
       </article>
    </div>
</section>
<!--content end-->
{% endblock %}
