{% extends 'base.html' %}

{% load staticfiles %}

{% block body_type_block %}
<body id="page1">
{% endblock %}

{% block body_block %}

  <!--content -->
  <section id="content">
    <div class="for_banners">
      <article class="col1">
        <div class="tabs">
          <ul class="nav">
            <li class="selected"><a href="#Flight">Новые</a></li>
            <li><a href="#Hotel">Контроль</a></li>
            <li class="end"><a href="#Rental">Опоздание</a></li>
          </ul>
          <div class="content">
            <div class="tab-content" id="Flight">
              <table>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              </table>
              ...еще ->
            </div>
            <div class="tab-content" id="Hotel">
              <table>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              </table>
              ...еще ->
            </div>
            <div class="tab-content" id="Rental">
              <table>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              	<tr><td>Номер</td><td>Тема</td><td>Описание</td><td>Срок</td></tr>
              </table>
              ...еще ->
            </div>
          </div>
        </div>
      </article>
{#      <div id="slider"> <img src="{% static "images/banner1.jpg" %}" alt=""> <img src="{% static "images/banner2.jpg" %}" alt=""> <img src="{% static "images/banner3.jpg" %}" alt=""> </div>#}
    </div>
    <div class="wrapper pad1">
      <article class="col1">
        <div class="box1">
          <h2 class="top">Завершаются на этой неделе!</h2>
          <div class="pad"> <strong>Задание №ХХХХХ</strong><br>
            <ul class="pad_bot1 list1">
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
            </ul>
            <strong>Задание №ХХХХХ</strong><br>
            <ul class="pad_bot1 list1">
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
            </ul>
            <strong>Задание №ХХХХХ</strong><br>
            <ul class="pad_bot2 list1">
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
              <li> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
            </ul>
          </div>
          <h2>Список просроченных!</h2>
          <div class="pad"> <strong>Задание №ХХХХХ</strong><br>
            <ul class="pad_bot2 list1">
              <li class="pad_bot1"> <span class="right color1">Исполнитель</span> <a href="book2.html">Агрегат</a> </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="col2">
        <h3>Проблемные вопросы<span>Актуальные по действующим заданиям</span></h3>
        <div class="wrapper">
          <article class="cols">
            
            <p class="pad_bot1"><strong>Airlines is one of free website templates created by TemplateMonster.com team.</strong></p>
            <p>This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid. This website template has several pages: <a href="index.html">About</a>, <a href="offers.html">Offers</a>, <a href="book.html">Book</a>, <a href="services.html">Services</a>, <a href="safety.html">Safety</a>, <a href="contacts.html">Contacts</a>.</p>
          </article>
          <article class="cols pad_left1">
            
            <p class="pad_bot1"><strong>This Airlines Template goes with two packages.</strong></p>
            <p>With PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source files) is available for anyone without registration).</p>
          </article>
        </div>
        <a href="#" class="button1"><strong>Read More</strong></a> </article>
    </div>
  </section>
  <!--content end-->
  

{% endblock %}
